* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 600px;
    background-color: purple;
    padding: 1rem;
}

.row {
    width: 100%;
    height: 16px;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.box {
    width: 12px;
    height: 12px;
    background-color: palegoldenrod;
    border: 4px solid black;
}