* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
}

body > * {
    margin-top: 22px;
}

.container {
    width: 600px;
    height: 600px;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.row {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    display: flex;
}

.box {
    flex-grow: 1;
    height: 100%;
    background-color: white;
    border: solid .09px lightgrey;
}