* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 600px;
    height: 600px;
    background-color: lightblue;
}